.graph-container {
  width: 40%; /* adjust the width to your liking */
  margin: 40px auto; /* center the graph container */
  padding: 20px;
  background-color: #f9f9f9; /* light gray background */
  border: 1px solid #ddd; /* light gray border */
  border-radius: 10px; /* rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.graph {
  width: 100%;
  height: 300px; /* adjust the height to your liking */
}

.graph h3 {
  margin-top: 0;
  font-weight: bold;
  color: #333; /* dark gray text */
}

.graph canvas {
  width: 100% !important;
  height: 100% !important;
}
