/* WeatherApp.css */

.weather-app {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  background-color: #2c3e50; /* Black background */
  color: #ecf0f1; /* Light text color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.weather-search {
  margin-bottom: 20px;
}

.weather-search label {
  font-size: 18px;
  font-weight: bold;
  color: #ecf0f1; /* Light text color */
}

.weather-search input[type="text"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #34495e;
  border-radius: 4px;
  margin-right: 10px;
  width: 200px;
  background-color: #34495e; /* Dark input background */
  color: #ecf0f1; /* Light text color */
}

.weather-search input[type="text"]::placeholder {
  color: #bdc3c7; /* Placeholder text color */
}

.weather-search button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #1abc9c; /* Green button */
  color: #ecf0f1; /* Light text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.weather-search button:hover {
  background-color: #16a085; /* Darker green on hover */
}

.weather {
  margin-top: 20px;
  padding: 20px;
  background-color: #34495e; /* Dark section background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.weather h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #1abc9c; /* Green color */
}

.weather p {
  font-size: 18px;
  margin-bottom: 8px;
  color: #ecf0f1; /* Light text color */
}

.weather img {
  margin-top: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Loading message */
.weather p.loading {
  font-size: 18px;
  font-style: italic;
  color: #bdc3c7; /* Light grey color */
}
